// C O N T A C T O   S E C T I O N

.section__contacto {
  margin-top: 35px;
  .title__contacto {
    text-align: center;
    font-weight: $textnegrita;
    font-family: $textfuente;
  }
  .title__contacto:hover {
    color: black;
    text-decoration: underline;
  }
  a {
    text-decoration: none;
    color: black;
    font-family: $textfuente;
    font-weight: $textnegrita;
  }
  a:hover {
    color: rgb(73, 145, 161);
  }
  .imagen__ws {
    @include sizes(20px, 20px);
    position: absolute;
    margin-left: -100px;
  }
  .imagen__mail {
    @include sizes(20px, 20px);
    position: absolute;
    margin-top: 26px;
    margin-left: -107px;
  }
  .imagen__linkedin {
    @include sizes(20px, 20px);
    position: absolute;
    margin-top: 49px;
    margin-left: -45px;
  }

  .imagen__github {
    @include sizes(20px, 20px);
    position: absolute;
    margin-top: 70px;
    margin-left: -40px;
  }
}
