// I N D E X  C A R R U S E L

.carousel {
  h5 {
    font-weight: $textnegrita;
  }
  p {
    font-weight: $textnegrita;
  }
}

// I N D E X  M A I N

.main__index {
  margin-top: 25px;
  margin-bottom: 25px;
  img {
    transition: 1s;
    animation-name: animacionimgmainindex;
    animation-duration: 1s;
    box-shadow: 10px 10px 15px black;
    border: 2px solid black;
  }
  @keyframes animacionimgmainindex {
    0% {
      transform: translate(-100px);
    }
  }
  img:hover {
    transform: scale(1.1, 1.1);
  }
  .title__index {
    font-weight: $textnegrita;
    font-family: $textfuente;
    margin-top: 20px;
    animation-name: animacionh2mainindex;
    animation-duration: 2s;
  }
  @keyframes animacionh2mainindex {
    0% {
      transform: translate(100px);
    }
  }
  .title__index:hover {
    color: black;
    text-decoration: underline;
  }
  p {
    font-weight: $textnegrita;
    font-family: $textfuente;
    animation-name: animacionpmainindex;
    animation-duration: 3s;
  }
  @keyframes animacionpmainindex {
    0% {
      transform: translate(100px);
    }
  }
}
