// P R O Y E C T O S  S E C T I O N

.section__proyectos {
  margin-top: 35px;
  .title__proyectos {
    text-align: center;
    font-weight: $textnegrita;
    margin-bottom: 10px;
    font-family: $textfuente;
  }
  .title__proyectos:hover {
    color: black;
    text-decoration: underline;
  }
  p {
    margin: auto;
    font-weight: $textnegrita;
    text-align: center;
    font-family: $textfuente;
  }
}

// P R O Y E C T O S  S E C T I O N  C A R D

.section__proyectos--card {
  margin-top: 35px;
  margin-bottom: 25px;
  .card {
    text-align: center;
    margin-bottom: 15px;
    transition: 1s;
    box-shadow: 5px 5px 10px black;
    .card-title {
      font-weight: $textnegrita;
    }
  }
  .card:hover {
    transform: scale(1.1, 1.1);
  }
  .card1__section--proyectos,
  .card3__section--proyectos {
    background-color: rgb(212, 240, 247);
  }
  .card2__section--proyectos,
  .card4__section--proyectos {
    background-color: rgb(247, 235, 244);
  }
}
