// S O B R E  M I  M A I N

.main__sobremi {
  padding-top: 30px;
  padding-bottom: 30px;
  img {
    animation-name: animacionimgmainsobremi;
    animation-duration: 1s;
    transition: 1s;
    box-shadow: 10px 10px 15px black;
    border: 2px solid black;
  }
  @keyframes animacionimgmainsobremi {
    0% {
      transform: translate(-130px);
    }
  }
  img:hover {
    transform: scale(1.1, 1.1);
  }
  .title__primer--sobremi {
    text-align: center;
    font-weight: $textnegrita;
    margin-bottom: 15px;
    margin-top: 35px;
    font-family: $textfuente;
    animation-name: animacionh2mainsobremi;
    animation-duration: 1s;
  }
  @keyframes animacionh2mainsobremi {
    0% {
      transform: translateY(-50px);
    }
  }
  .title__primer--sobremi:hover {
    color: black;
    text-decoration: underline;
  }
  p {
    margin: auto;
    font-weight: $textnegrita;
    text-align: center;
    font-family: $textfuente;
    animation-name: animacionpmainsobremi;
    animation-duration: 2s;
  }
  @keyframes animacionpmainsobremi {
    0% {
      transform: translate(150px);
    }
  }
  .link__curriculo {
    text-align: center;
    margin-top: 10px;
    a {
      color: black;
      font-weight: $textnegrita;
      font-family: $textfuente;
      text-decoration: none;
      font-size: 1.2rem;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

// S O B R E  M I  S E C T I O N

.section__sobremi {
  margin-bottom: 15px;
  .title__secundario--sobremi {
    text-align: center;
    font-weight: $textnegrita;
    font-family: $textfuente;
    animation-name: animacionh2mainsobremi;
    animation-duration: 2s;
  }
  @keyframes animacionh2mainsobremi {
    0% {
      transform: translate(200px);
    }
  }
  .title__secundario--sobremi:hover {
    color: black;
    text-decoration: underline;
  }
  img {
    @include sizes(100px, 100px);
    text-align: center;
    margin: 5px;
  }
  img:hover {
    animation-name: animacionimgsectionsobremi;
    animation-duration: 3s;
  }
  @keyframes animacionimgsectionsobremi {
    0% {
      transform: rotateZ(90deg);
    }
  }
  .row {
    text-align: center;
  }
}
