// M A I N  S O B R E  M I

.main__sobremi {
  margin-top: 50px;
  img {
    transition: 1s;
    animation-name: animacionimgmainindex;
    animation-duration: 1s;
    box-shadow: 10px 10px 15px black;
    border: 2px solid black;
  }
  @keyframes animacionimgmainindex {
    0% {
      transform: translate(-120px);
    }
  }
  img:hover {
    transform: scale(1.1, 1.1);
  }
  .title__sobremi {
    font-weight: $textnegrita;
    font-family: $textfuente;
    margin-top: 30px;
    animation-name: animacionh2mainsobremi;
    animation-duration: 1s;
    text-align: center;
  }
  @keyframes animacionh2mainsobremi {
    0% {
      transform: translate(120px);
    }
  }
  .title__sobremi:hover {
    color: black;
    text-decoration: underline;
  }
  p {
    font-weight: $textnegrita;
    font-family: $textfuente;
    text-align: center;
    animation-name: animacionpmainsobremi;
    animation-duration: 1s;
  }
  @keyframes animacionpmainsobremi {
    0% {
      transform: translate(120px);
    }
  }
  .link__curriculo {
    text-align: center;
    margin-top: 10px;
    animation-name: animacionamainsobremi;
    animation-duration: 3s;
    a {
      color: black;
      font-weight: $textnegrita;
      font-family: $textfuente;
      text-decoration: none;
      font-size: 1.2rem;
    }
    @keyframes animacionamainsobremi {
      0% {
        transform: translate(120px);
      }
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
